@import '../../app.component.scss';

/*global*/

* {
    letter-spacing: 1px;
    color: white;
}

.container {
    width: 100%;
    height: auto;
}

.row {
    @extend .container;
}
 /*line on top*/
 .bar {
     background: rgb(22, 22, 22);
     height: 1px;
     width: 1700px;
     margin: auto;
 }

 /*the heading*/
 .about {
     text-align: center;
     margin-top: 80px;
     width: calc(100% - 300px);
     float: right;
 }

    .about h3 {
        width: 100%;
        font-size: 26px;
    }

/*each main section and all*/
.main-area {
    width: calc(100% - 300px);
    border-left: solid 1px rgb(133, 133, 133);
    
}

/*all divs under each main section, to apply to all*/
.main {
    padding: 10px;
}

.sub-section {
    display: flex;
}

#experience {
    flex-direction: column;
}

h4 {
    font-size: 23px;
    padding: 10px 0 0;
}

    .main p {
        font-size: 18px;
    }

figcaption {
    font-size: 15px;
    text-align: center;
}

.para {
    padding: 10px 40px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3.5rem;
}

.para-img {
    height: 100%;
    width: 100%;
    max-width: 500px;
    border: solid 1px rgb(39, 39, 39);
    margin: auto;
    border-radius: 5px;
}



@media (max-width: 1720px) {
    .row, .bar {
        width: 100%;
    }
}

@media(min-width: 1451px) {
    @media(max-height: 750px) {
        .main-area {
            width: 85%;
            border-left: none;
        }

        .bar {
            display: none;
        }
    
        .about {
            @include alot(flex, column, sticky, 0px, unset,unset,unset);
            width: 100%;
            height: 100px;
            float: unset;
            background: black;
            z-index: 2;
            justify-content: flex-end;
            margin: 0 auto;
            padding: 0 0 0px;
            border-bottom: solid 1.5px rgb(51, 51, 51);
        }
    
        .about h3 {
           position: absolute;
           bottom: 10px;
        }
    }
}

@media (max-width: 1450px) {
    .about {
        width: 90%;
    }
}

@media (max-width: 1325px) {
    .main-area {
        width: 90%;
        border-left: none;
    }

    .para {
        padding: 0px 30px 20px;
    }

    .about {
       width: 100%;
    }
}

@media (max-width: 1210px) {
    .sub-section {
        flex-direction: column;
    }

    .para {
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
    }
}

@media (max-width: 950px) {
    .para {
        padding: 10px 0 20px;
    }
}

@media (max-width: 817px) {
    .para {
        width: 90%;
    }

}

@media(max-width: 600px) {
    .para {
        width: 95%;
    }
}

@media(max-width: 500px) {
    .sub-section-1 .para,
    .sub-section-2 .para,
    .sub-section-3 .para,
    .sub-section-6 .para {
        text-align: center;
    }

    .about h3 {
        font-size: 22px;
    }
}