<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="contact">
                    <button type="button"><a class="mail icon" href="mailto:antonio.jr.martinez1992@gmail.com">Email</a></button>
                    <button type="button"><a class="resume icon" href="/assets/images/antonio_martinez_resume.pdf" download>Download Resume</a></button>
                    <button type="button"><a class="other-btn pointer back icon" (click)="goback()">Go Home</a></button>
            </div>
        </div>
    </div>  
</div>
