@import '../../app.component.scss';

.page-turns {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
    padding: 10px 0;
}

.adjust-arrow {
    font-size: 13px;
}

.left-arrow::before {
    padding-right: 5px;
    @extend .adjust-arrow;
}

.dead-pointer {
    cursor: default;
    color: rgb(54, 54, 54);
}

.dead-pointer:hover {
    transform: unset;
}

.right-arrow::after {
    padding-left: 5px;
    @extend .adjust-arrow;
}

#theForm {
    max-width: 500px;
    width: 90%;
    margin: 100px auto;
    background: rgb(31, 31, 31);
    padding: 20px;
}

label {
    color: rgb(224, 224, 224);
}

form, h2, form .btn {
    margin-top: 20px;
}
.result {
    background: rgb(26, 26, 26);
    border-radius: 4px;
    padding: 2px 14px;
    margin: 0 2px;
    color: white;
}

.clear-result {
    margin-left: 5px;
}