@import '../app.component.scss';

@mixin lines($x, $y) {
    transform: translateY($x) rotate($y);
    transition: all 0.5s ease;
    background: rgb(207, 207, 207);
}

/*Global*/


li {
    letter-spacing: 1px;
}

a {
    color: rgb(224, 224, 224);
    text-decoration: none;
}

a:hover {
    color: rgb(128, 128, 128);
}


/*original state of header*/
header {
    position: relative;
    width: 1700px;
    margin: auto;
    height: 30px;
    background: rgba(0, 0, 0, 0.795);
    transition: all 0.4s ease;
}

/*class that is applied to header*/
.active-header-dk {
    height: 65px;
}


.active-header-two {
    height: 100vh;
}
 
.icon {
    position: relative;
    top: 33px;
    left: 20px;
    color: white;
    font-size: 2rem;
    height: 30px;
}

.dev {
    color: rgb(51, 192, 173);
    font-size: 16px;
}

/*Nav*/
.nav {
    @include alot(flex, column, absolute, 35px, 0px, unset, unset);
    width: 600px;
    z-index: 0;
    padding-left: 40px;
}

    ul {
        display: flex;
        font-size: 18px;
        position: relative;
        top: 0;
        gap: 50px;
    }


.heading {
    height: 100%;
    width: 30%;
    display: flex;
    float: left;
}



/*burger div*/

.burger {
    @include alot(none, unset, fixed, 30px, 20px, unset, unset);
    @include same(height, width, 30px);
    z-index: 999;
}

.burger-active {
    position: fixed;
}

    .line {
        background: rgb(255, 255, 255);
        border-radius: 3px;
        margin-bottom: 4px;
        width: 25px;
        position: relative;
        top: 8px;
        @include same(height, left, 2px);
    }

    .line-1 {
        @include lines(4px, -45deg);
    }

    .line-2 {
        opacity: 0;
        transition: all 0.2s;
    }

    .line-3 {
        @include lines(-8.5px, 45deg);
    }


@media (max-width: 1720px) {
    .container, header {
        width: 100%;
    }
}

@media(max-width: 1450px) {
    header {
        position: fixed;
        z-index: -1;
        @include same(top, left, height, 0);
    }

    .burger {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .nav {
        @include alot(none, column, absolute, 0px, unset, unset, 0);
        background: rgb(0, 0, 0);
        width: 100vw;
        z-index: -1;
        @include same(padding, height, 0);
    }
    
        .active-nav {
            position: fixed;
            @include same(top, z-index, 0);
            height: 100vh;
            display: block;
            transition: all 0.2s ease;
        }
    
        ul {
            @include alot(flex, column, relative, 70px, unset, unset, unset);
            margin: auto;
            height: 100vh;  
            gap: 0px;
            line-height: 12vh;
            text-align: center;
        }

        .active-header-dk {
            z-index: 4;
        }

        .heading-burger-show-late {
            opacity: 0;
            transition: all 0.2s ease;
        }

        .heading-burger-show-late-active {
            opacity: 1;
            transition-delay: 0.2s;
        }
       
}

@media(max-width: 499px) {
    .container {
        overflow: hidden;
    }
}

@media (max-height: 400px)  {
    ul {
        line-height: 11vh;
    }
}