@import '../app.component.scss';

/*Global*/
.container {
    width: 1700px;
    background: black;
    margin: auto;
    padding: 0px 0 80px;
    border-top: solid 1px rgb(19, 19, 19);
}
/*flex*/
.project-header {
    margin: 20px auto 20px;
    width: 1500px;
}

.project-header h2 {
    color: white;
    font-size: 30px;
}

/*main display section*/
.main-content {
    width: 1600px;
    margin: 20px auto 50px;
    display: flex;
    justify-content: space-around;
}

    .project-photo {
        flex: 2;
        height: 550px;
        max-width: 800px;
        min-width: 500px;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        border: solid 1px white;
        box-shadow: inset 0px 0px 8px 2px rgb(12, 12, 12);
    }

    .arrows {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 0 10px;
    }

    .project-info {
        flex: 1;
        max-width: 500px;
        min-width: 400px;
        height: 20em;
        margin: 60px 10px 0;
    }

    h3 {
        color: rgb(177, 177, 177);
        font-size: 28px;
        padding: 5px 0;
    }


    li {
        color: rgb(228, 228, 228);
        padding: 10px 10px;
        letter-spacing: 1px;
        text-align: center;
        margin: 3px 0;
    }

    .link {
       @include same(width, margin, auto);
        text-align: center;
    }

    a {
        color: rgb(40, 103, 199);
        text-decoration: none;
    }

    a::after {
        font-family: FONTAWESOME;
        content: "\f105";
        font-size: 12px;
        padding-left: 5px;
    }

    p {
        padding: 30px 0 0 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    span {
        padding-right: 12px;
    }

/*scroll*/
::-webkit-scrollbar {
    height: 12px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(124, 124, 124);
    border-radius: 5px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41);
  }

.flex-container {
    display: flex;
    height: 300px;
    width: 1600px;
    margin: 40px auto 00px;
    overflow-x: visible;
    overflow-y: hidden;
}

.project {
    flex: 1;
    margin: 0 20px;
    max-width: 270px;
    min-width: 225px;
}

.transition, .enhance-detail {
    transition: 0.7s ease;
}

.transition:hover {
    transform: scale(0.9, 0.9);
}

.enhance-detail:hover {
    transform: scale(1.08, 1.06);
}

.project-active {
    transform: scale(0.90, 0.90);
}


@media (max-width: 1720px) {
    .container {
        width: 100%;
    }

    .flex-container, .project-header, .main-content {
        width: 90%;
    }
}