<div class="container">
  <!--black background so when a user slides down on mobile you can't see a white background-->
  <div class="main-background"></div>

  <div class="row">
    <div class="col-xs-12">
      <app-nav></app-nav>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
  </div>
</div>

  