@import '../app.component.scss';

/*fourth row*/
.more {
    margin: 60px auto 20px;
    display: flex;
    justify-content: center;
}

.more a {
    background: rgb(218, 218, 218);
    color: rgb(8, 8, 8);
    padding: 2px 6px;
    border-radius: 2px;
}

.more a::after {
    font-family: FONTAWESOME;
    content: "\f105";
    padding-left: 5px;
    font-size: 11px;
}

.how {
    border-top: solid 1px rgb(46, 46, 46);
    padding-top: 10px;
    width: 1700px;
    @include same(height, margin, auto);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.how h2 {
    color: white;
    font-size: 2rem;
    padding: 10px 0;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 20px;
    width: 100%;
    justify-content: center;
}

.step {
    flex: 1;
    color: rgb(233, 233, 233); 
    border-radius: 3px;
}

    .step {
        position: relative;
        right: -1900px;
        transition: all 1.5s ease;
    }

    .step-tint p {
        letter-spacing: 1px;
        font-size: 1.6rem;
    }

    .move-step {
        right: 0;
    }

    @media (max-width: 1720px) {
        .how {
            width: 95%;
        }
    }