@import '../../app.component.scss';

.image {
    background-size: cover;
    border: solid 1px rgb(31, 31, 31);
    @include same(height, width, 100%);
    display: flex;
    @include same(background-position, justify-content, center);
    box-shadow: inset 0px 0px 5px 1px rgb(14, 14, 14);
}

/*individual project blocks*/
.project {
    height: 300px;
    background: rgb(32, 32, 32);
    border: solid 1px white;
}

h3 {
    background: black;
    border: solid 1px rgb(15, 15, 15);
    color: white;
    font-size: 18px;
    align-self: center;
    padding: 7px 8px;
}